
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin:auto;
}
html{
  font-family: sans-serif;
  font-size: 10px;
  background-color: #ffffff;
}
body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
 
/* Styling of the logo and name of the university */
.row{
  display: flex;
  justify-content: center;
}
.logo{
  width: 6rem;
  height: 6rem;
  display: flex;

}

.row img{
  margin-top: 22px;
  height: 60px;
}

.write{
  text-align: center;
}
.row img, .write{
  margin-right: 30px;
}
.row .write h1{
  font-weight: bold;
  background: url('./IMAGES/header/uni-name.png') top center no-repeat;
  width: 393px;
  height: 37%;
  margin: 6% 0 2% 0;
}
.row .write h2{
  font-size: 20px;
  color: rgba(255, 205, 111, 0.959);
  margin-bottom: 2rem; 
  
}

.row .write{
  display: block;
}
/* logo and name styling ends */

/* styling of the search bar and search button */
form{
  height: 50%;
  right: 0;
  display: flex;
  margin-top: 3%;
  margin-left: 10%;
  justify-content: left;
  align-items: flex-end;
}
form input{
  align-self: center;
  margin-left: 15%;
  height: 32px;
  width: 300px;
  border-color: transparent;
  border-radius: 5px;
  border-right: none;
  padding: 10px;
}

form button{
  display: flex;
  align-items: center;
  float: left;
  width: 10%;
  height: 32px;
  padding: 10px;
  background: rgba(255, 205, 111, 0.959);
  color: white;
  font-size: 17px;
  border: transparent;
  border-radius: 5px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;  
  }
input:active{
  border-color: transparent;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
/* styling of the search bar and search button ends */

/* styling of the navigation bar */
a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.t-top{
  width: 100%;
  background-image: url('./IMAGES/header/header-b.jpg');
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

}

.container{
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  
}

#nav{
  display: flex;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  align-items: center;
}

.nav-list a {
  padding-bottom: 10px;
}


.nav-list{
  display: flex;
  width: 100%;
  align-items: center;
  
}

.nav-list  li{
  line-height: 8rem;
  position: relative;
}

.sub-menu li{
line-height: 3rem;
}
.sub-menu li a{
  text-align: left;
  border-bottom: 3px solid rgb(178, 34, 34);
  color: rgb(255, 169, 93);
  font-weight: bolder;
}
.nav-list a{
  display: block;
  color: #eee;
  padding: 0 1.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: color 650ms;
}
.nav-list a:hover{
  color: #fffac2;
  font-weight: bolder;
} 
.sub-menu{
  padding: 0;
}
.sub-menu a:hover{
  color: rgb(238, 135, 135);
  font-weight: bolder;
}
.sub-menu{
  width: 25rem;
  display: block;
  position: absolute;
  border-top: 3px solid rgb(178, 34, 34);
  background-color: rgba(128, 0, 0, 0.705);
  z-index: 100;
  top: 6rem;
  opacity: 0;
  visibility: hidden;
  transition: all 650ms ease;
}

.nav-list a:active{
  color: #fffac2;
  font-weight: bolder;
  background-color: rgba(128, 0, 0, 0.055);
}

.sub-menu::before{
  content: "";
  position: absolute;
  top: -2.5rem;
  /* left: 3rem; */
  border: 1.2rem solid transparent;
  border-bottom-color: rgb(178, 34, 34);
}
.sub-menu .sub-menu::before{
  top: .9rem;
  left: -2.5rem;
  border: 1.2rem solid transparent;
  border-right-color: rgb(178, 34, 34);
}
.sub-menu .sub-menu{
  border-top: none;
  border-left: 3px solid rgb(178, 34, 34);
  top: 0;
  left: 160%;
}

.nav-list li:hover > .sub-menu{
  top:8rem;
  opacity: 1;
  visibility: visible;
}

.sub-menu li:hover > .sub-menu{
  top: 0;
  left: 100%;
}

li.move-right{
  margin: auto 0 auto auto;
  line-height: initial;
}

.nav-list .icon{
  display: none;
}
.container .nav-list .hidden{
  left: 0;
  background-color: maroon;
}

/* humbuger menu */
.menu-btn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
  float: right;
}
/* new toggle class  for the humbuger menu*/
.sub-menu.newClass{
  left: 0;
  background-color: rgb(128,0,0, 0.7);
}
/*sticky makes the navigation bar stay at a fixed position when one scrolls*/
#nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: maroon;
  z-index: 1;
}

#nav.sticky + .content {
  padding-top: 60px;
}

/* styling of the navigation bar ends*/

/* slideshow styling ends*/
.slideshow-content .mySlides img{
  width: 100%;
}

#slideshow{
  display: grid;
  grid-area: auto-fit;
}
.slideshow-container{
  max-width: 100px;
  position: relative;
  margin: auto;
}

.dot{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: maroon;
  border-radius: 50%;
  display: inline;
  transition: background-color 0.6s ease;
}

.active{
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* slideshow styling ends*/


/* about me styling section*/
.about .max-width h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  color: maroon;
}
.about .about-content .left{
  width: 40%
}
.about .about-content .left img{
  height: auto;
  margin-left: 110px;
  width: 300px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right{
  width: 55%;
  margin-right: 30px;
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px ;
}
.about .about-content .right .text span{
  color: maroon;
}
.about .about-content .right p{
  text-align: justify;
  font-size: 15px;
}
.about .about-content .right a{
  display: inline-block;
  background: maroon;
  color: #fff;
  font-size: 15px;
  padding: 5px 15px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid maroon;

}
.about .about-content .right a:hover{
  color:#FFA631;
  background: none;
}
/*all similar styling code*/
section{
  padding: 50px 0;
}
.about{
  font-family: 'Poppins', sans-serif;

}
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/* about me styling section ends*/

/* academic section styling */
#academic{
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  color: maroon;
}

.academic{
  padding: 3px;
  margin-left: 10%;
  margin-right: 10%;
  display: grid; 
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.caard{
  padding: 3px;
  border-radius: 4px;
  box-shadow: 10px 10px 30px rgb(128,0,0, 0.7);
  transform: transform 3s ease;
  
  
}

.caard img{
  width: 100%;
  padding: 2%;
}

.caard:hover{
  transform: translateY(-10px);
}

.info{
  padding: 1rem;
  font-size: 15px;
}

.tag{
  display: flex;
  align-items: flex-end;
}
.info a:hover{
  color: brown;
  font-weight: bold;
}
/* academic section styling ends*/

/* footer styling */
.footer{
  text-align: center;
  color: white;
  background-color: maroon;
  width: 100%;
}

.footer-heading{
  font-size: 25px;
  text-decoration: underline;
  padding: 2%;
}

.footer-list{
  padding: 3%;
  font-size: 20px;
}

.footer-list a{
  padding: 2%;
  color: #eee;
  font-size: 15px;
}

.social{
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
  
}



.footerlogo{
  margin-bottom: 2%;
}

.copyright{
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
  
}

/* Create three equal columns that floats next to each other */
.footer-column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.footer-row:after {
  content: "";
  display: table;
  clear: both;
}
/* footer styling ends */

/* reduce font size of navigation bar */
@media only screen and (max-width:1167px) and (min-width:951px){
  .nav-list a{
    font-size: 11px;
    padding-right: 12px;
  }
}
@media only screen and (max-width:950px) and (min-width:891px){
  .nav-list a{
    font-size: 10px;
    padding-right: 11px;
  }
  
}
@media only screen and (max-width: 890px) {
  .search {
    display: none;
  }
  
  .row .logo{
    margin-right: 0px;
  }
}
/* enables humbuger buttons when the screen size is reduced */
@media  only screen and (max-width:890px) {
  .menu-btn{
    display: block;
    z-index: 999;
}
  .menu-btn i.hidden:before{
    content: "\f00d";
  }
  .nav-list{
    flex-direction: column;
    align-items: flex-start;
  }
  
  .nav-list {
  position:fixed;
  background: rgb(128,0,0, 0.7);
  height: 100vh;
  width: 50%;
  left: -100%;
  top: 0;
  text-align: left;
  padding-top: 100px;
  transition: all 0.3s ease;
  z-index: 1;

  }
  .nav-list.hover {
    left: 0;
    background-color: rgb(128,0,0, 0.7);
  }
  
  .nav-list li {
    padding-left: 30px;
    margin-left: 0;
  }
  .nav-list.hidden{
    left: 0;
  }
  .nav-list .sub-menu{
    display: none;
  }
  
  .nav-list li a{
    display: inline-block;
    margin:  0;
    font-size: 12px;
}

.sub-menu li{
  line-height: 3rem;
  }
  .sub-menu li a{
    text-align: left;
    border-bottom: 3px solid rgb(178, 34, 34);
    color: rgb(255, 169, 93);
    font-weight: bolder;
  }

  .sub-menu{
    padding: 0;
  }
  .sub-menu a:hover{
    color: rgb(238, 135, 135);
    font-weight: bolder;
  }
  .sub-menu{
    width: 25rem;
    display: block;
    position: absolute;
    border-top: 3px solid rgb(178, 34, 34);
    background-color: rgba(128, 0, 0, 0.705);
    /* z-index: 100; */
    top: 6rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
  }

  .sub-menu::before{
    content: "";
    /* position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: rgb(178, 34, 34); */
  }
  .sub-menu .sub-menu::before{
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: rgb(178, 34, 34);
  }
  .sub-menu .sub-menu{
    border-top: none;
    border-left: 3px solid rgb(178, 34, 34);
    top: 0;
    left: 160%;
  }
  
  .nav-list li:hover > .sub-menu{
    top:8rem;
    opacity: 1;
    visibility: visible;
  }
  
  .sub-menu li:hover > .sub-menu{
    top: 0;
    left: 100%;
  }
}
/* ends */
/* reduces the size of the about section image when screen size reduces */
@media(max-width: 1200px){
  .about .about-content .left img{
      height: 250px;
      width: 250px;
      margin-left: 0;
      
      
  }
  .about .about-content .right .text {
    font-size: 21px;
  }
  .about .about-content .right p{
    font-size: 15px;
  }

}

@media screen and (max-width: 895px){
  .about-content{
    margin-left: 0;
    
  }
  .about .about-content .left img{
    margin-left: 50%;
  }
  .about .about-content .right {
    width: 700px;
  }
}
@media only screen and(max-width: 991px){
  .max-width{
          padding: 0 50px;
      }
}

@media screen and(max-width: 947px){
 
  .max-width{
    max-width: 800px;
}   
.about .about-content .column{
    width: 100%;
}
.about .about-content .left{
    display: flex;
    justify-content: center;
    margin:0 auto 60px;
}
.about .about-content .right {
    flex: 100%;
}
}
@media(max-width: 690px){
  .max-width{
    padding: 0 23px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    height: max-content;
  }
}
}
@media(min-width: 500px){
  .about-content .left img{
    margin-left: 0;
  }
} 
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
  
 
/* ends */

/* Responsive layout - makes the three footer-columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .footer-column {
    width: 100%;
  }
}
/* ends */


  
